@import variables
/*
* Elementos de layout
*/
*
  box-sizing: border-box;

html
body
#__nuxt
#__layout
  height: 100%


#main-wrapper 
  overflow: hidden
  position: relative
  min-height: 100%
  display: flex
  flex-direction: column

body
  font-family: $default-font
  font-size: $font-size
  min-width: 360px
  margin: 0
  padding 0 .5rem  0
  background: $bg-color

a
  text-decoration: none
  color: $link-color


h1, h2, h3, h4, h5, h6
  font-family: $header-font
  font-weight: 500

h1
  font-size: $h1

.microtext
  font-family: $microtext-font
  font-size: $microtext
  text-transform: uppercase

.ql-editor
  overflow: hidden