@import variables
/*
* Elementos de layout
*/
*
  box-sizing: border-box;

html
body
#__nuxt
#__layout
  height: 100%


#main-wrapper 
  overflow: hidden
  position: relative
  min-height: 100%
  display: flex
  flex-direction: column

body
  font-family: $default-font
  font-size: $font-size
  min-width: 360px
  margin: 0
  padding: 0
  background: $bg-color

a
  text-decoration: none
  color: $link-color

a:hover,
a:active,
a:focus
  color: $link-color-active


h1, h2, h3, h4, h5, h6
  font-family: $header-font
  font-weight: 500

h1
  font-size: $h1

.Page
  padding: $min-padding

.CenteredPage
  margin: 0 auto
  max-width: $max-width
  width: 100%

.microtext
  font-family: $microtext-font
  font-size: $microtext
  text-transform: uppercase
  color: $micro-text-color
  display: inline-flex;
  align-items: center
  margin: 0

.microtext--arrow-left > i
  order: -1

.microtext + h1
  margin-top: 0

header > .microtext 
  font-weight: 500

header > .microtext > span
  font-weight: 400
  margin: 5px

.ql-editor
  overflow: hidden

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.25s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.page-enter-active, .page-leave-active {
  transition: opacity .250s
}
.page-enter, .page-leave-active {
  opacity: 0
}

.offscreen {
  clip-path: inset(100%);
  clip: rect(1px 1px 1px 1px); /* IE 6/7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; /* added line */
  width: 1px;
}

.hidden
  display: none

.viewer-backdrop
  background-color: #e6e6e6

.viewer-fixed
  background-color: rgba(0,0,0,.5)

.viewer-canvas > img
  box-shadow: 0 0 15px #ccc
  backface-visibility: hidden;

.viewer-fixed .viewer-canvas > img
  box-shadow: none

@keyframes filterActive {
  0% {
    border-color: #E1DADA;
  }

  20% {
    border-color: #d84848;
  }

  100% {
    border-color: #E1DADA;
  }
}

@media only screen and (min-width: $tablet)
  html
    overflow-y: scroll;

@media only screen and (min-width: $desktop)
  .Page
    padding: $min-padding 0