/*
* Cores
*/
$bg-color = #FBFAFA // Cor de fundo principal
$micro-text = #CE5454
$card-active = $micro-text

$text-color = #343333 // Cor do texto
$text-color-inactive = #777474 // Cor do texto inativo

$link-color = #D84848 // Cor dos links

$border-color = #F1EAEA // Cor de borda padrão
$border-color-active = $text-color // Cor de borda de elemento ativo


$search-card-bg-color = #FAF6F6 // Cor do cartão de busca
$search-card-bg-color-active = $micro-text // Cor do cartão de busca ativo

$search-card-file-bg-color = #F6F9FA // Cor do cartão de busca tipo arquivo
$header-color = #555555

/*
* Tamanhos
*/
$font-size = 16px
$h1 = 26px
$h3 = 22px
$quote = $h1
$microtext = 14px

$tablet = 768px
$max-width = 1120px //largura máxima para elementos que não estem em tela cheia
$card-width = 270px

/*
* Fontes
*/
$default-font = 'Vollkorn', serif // Fonte padrão
$small-font = 'Cabin', sans-serif // Fonte para elementos de ajuda, texto pequenos etc
$header-font = $default-font
$menu-font = 'Vollkorn SC', serif; // Fonte dos títulos

$microtext-font = $small-font