/*
* Cores
*/
$bg-color = #FBFAFA // Cor de fundo principal
$micro-text = #d84848
$card-active = $micro-text

$text-color = #343333 // Cor do texto
$text-color-inactive = #777474 // Cor do texto inativo

$link-color = $micro-text // Cor dos links
$link-color-active = #d00

$border-color = #F1EAEA // Cor de borda padrão
$border-color-active = $text-color // Cor de borda de elemento ativo


$search-card-bg-color = #FAF6F6 // Cor do cartão de busca
$search-card-bg-color-active = $micro-text // Cor do cartão de busca ativo

$search-card-file-bg-color = #F6F9FA // Cor do cartão de busca tipo arquivo
$header-color = #555555

/*
* Tamanhos
*/
$font-size = 16px
$h1 = 26px
$h3 = 22px
$quote = $h1
$microtext = 14px

$tablet = 768px
$max-width = 1120px //largura máxima para elementos que não estem em tela cheia
$desktop = $max-width
$card-width = 270px
$min-padding = .5rem

/*
* Fontes
*/
$serif = 'Vollkorn', serif
$sans-serif = 'Cabin', sans-serif
$small-caps =  'Vollkorn SC', serif; // Fonte dos títulos

$default-font = $serif
$small-font = $sans-serif
$header-font = $default-font
$menu-font = $small-caps

$microtext-font = $small-font
$grayscale-image = 35%