/*
* Cores
*/
$bg-color = #FBFAFA // Cor de fundo principal

$text-color = #343333 // Cor do texto
$text-color-inactive = #777474 // Cor do texto inativo

$link-color = #D84848 // Cor dos links

$border-color = #F1EAEA // Cor de borda padrão
$border-color-active = $text-color // Cor de borda de elemento ativo


$search-card-bg-color = #FAF6F6 // Cor do cartão de busca
$search-card-bg-color-active =#CE5454 // Cor do cartão de busca ativo

$search-card-file-bg-color = #F6F9FA // Cor do cartão de busca tipo arquivo
$header-color = #555555

/*
* Tamanhos
*/
$font-size = 16px
$h1 = 24px
$h3 = 22px
$quote = $h1
$microtext = 12px

$tablet = 768px

/*
* Fontes
*/
$default-font = 'Vollkorn', serif // Fonte padrão
$small-font = 'Cabin', sans-serif // Fonte para elementos de ajuda, texto pequenos etc
$header-font = 'Vollkorn SC', serif; // Fonte dos títulos

$microtext-font = $small-font

/*
* Elementos básicos
*/
*
  box-sizing: border-box;


body
  font-family: $default-font
  font-size: $font-size
  min-width: 360px
  margin: 0

a
  text-decoration: none
  color: $link-color

